<html ng-app="MyServiceApp">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../framework/bootstrap-3.0.0/css/bootstrap.css">
    <script src="../framework/angular-1.3.0.14/angular.js"></script>
    <script src="../js/userList.js"></script>
</head>

<body>

    <div ng-controller="ServiceController">
        <!-- 搜索条件 -->
        <div >搜索条件行:
            <input type="text" ng-placeholder="请输入用户名或姓名" ng-model="searchName">
        </div>
        <!-- 列表数据 -->
        <div >批量操作行:
        </div>
        <table class="table table-striped" style="margin: 0px;">
            <thead>
            <tr>
                <td>选择</td>
                <td>名称</td>
                <td>密码</td>
                <td>标记</td>
                <td>查看</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><input name="id" ng-click="selectOne(user.id)" type="radio" value="{{user.id}}" /></td>
                <td>{{user.logName}}</td>
                <td>{{user.logPwd}}</td>
                <td>{{user.logToken}}</td>
                <td><a href="../user.html?id={{user.id}}">查看</a></td>
            </tr>
            </tbody>
        </table>
       <div>分页操作行：</div>
    </div>
</body>

</html>
