<html ng-app="UserAddApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="framework/bootstrap-3.0.0/css/bootstrap.css">
    <title>用户添加--系统</title>
    <script src="js/ui.js"></script>
    <script src="js/config.js"></script>
    <script src="js/function.js"></script>
    <script src="framework/angular-1.3.0.14/angular.js"></script>
    <script src="framework/jquery-1.11.2.min.js"></script>
    <script src="js/userAdd.js"></script>
</head>
<body>
    <form ng-controller="UserAddCtrl">
        <div>名称：</div>
        <input type="text" placeholder="请输入名称" ng-model="userModel.logName" required>
        <div>密码：</div>
        <input type="password" placeholder="请输入密码" ng-model="userModel.logPwd" required>
        <div>请再次确认密码：</div>
        <input type="password" placeholder="请输入密码" ng-model="userModel.logPwd2" required>

        <div>年龄：</div>
        <input type="text" placeholder="请输入年龄" ng-model="userModel.age" required>
        <div>备注：</div>
        <input type="text" placeholder="请输入备注" ng-model="userModel.remark" >
        <div>状态：</div>
        <input type="radio" value="1"  ng-model="userModel.state" name="start"> <span>启用</span>
        <input type="radio" value="-1" ng-model="userModel.state" name="disable"> <span>禁用</span>

        <button name="add" ng-click="addUser(userModel)">添加用户</button>
    </form>
</body>
</html>